body {
    background: rgb(0, 0, 40);
    color: rgb(200, 200, 200);
    font-size: 10pt;
}

.content {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background: white;
    color: black;
}
.card-clickable {
    cursor: pointer;
}

.card .thumbnail {
    display: inline-block;
    max-width: 100px;
    max-height: 150px;
}
.card .thumbnail img {
    width: 100%;
}

.card .card-main {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-left: 10px;
}

.card .title {
    font-size: 16pt;
}

.card .year {
    color: rgb(164, 164, 164);
}

.card .synopsis {
    margin-top: 5px;
}

.card .reason {
    font-style: italic;
}

.card .rating {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14pt;
}

.card .tags {
    margin-top: 15px;
}

.card .tag {
    background: rgb(210, 210, 210);
    padding: 5px;
    margin-right: 5px;
}

.card .date {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgb(164, 164, 164);
}

form {
    width: 100%;
    box-sizing: border-box;
    font-size: 16pt;
}

form input, form textarea, form button {
    display: block;
    font-size: inherit;
    font-family: inherit;
}
form button {
    width: 33%;
    margin-right: 0;
    margin-left: auto;
}
form input, form textarea {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}