body {
    background: rgb(0, 0, 40);
    color: rgb(200, 200, 200);
    font-size: 16pt;
}

.content {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background: white;
    color: black;
    cursor: pointer;
}

.card .thumbnail {
    display: inline-block;
    max-width: 100px;
    max-height: 150px;
}
.card .thumbnail img {
    width: 100%;
}

.card .title {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-left: 10px;
}

form input, form textarea, form button {
    display: block;
    font-size: inherit;
    font-family: inherit;
}
form button {
    width: 33%;
    margin-right: 0;
    margin-left: auto;
}
form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
}